$text-color: #f8fafc;
$primary-color: #fdba74;
$primary-color-dark: #fb923c;
$primary-color-light: #fed7aa;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  font-weight: 400;
  color: $text-color;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
h1 {
  color: blue;
}
