$text-color: #f8fafc;
// $primary-color: #fdba74;
// $primary-color-dark: #fb923c;
// $primary-color-light: #fed7aa;

$primary-color: #fed7aa;
$primary-color-dark: #fdba74;
$primary-color-light: #ffedd5;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: no-repeat center / cover url("../imgs/endless-constellation.webp")
    fixed;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  font-weight: 400;
  color: $text-color;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.animated-border-link,
.animated-border-title {
  &::after {
    display: block;
    content: "";
    border-bottom: solid 0.2rem $primary-color-dark;
    margin-top: 1.1rem;
    transform: scaleX(0);
    transition: all 0.4s;
  }
}

.animated-border-link {
  transform-origin: 0% 50%;
  &:hover::after {
    transform: scaleX(1);
  }
}

.animated-border-title {
  &::after {
    animation: animatedBorder infinite 4s;
  }
}

.heading__primary {
  color: $primary-color-dark;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

@keyframes animatedBorder {
  0% {
    transform: scaleX(1);
  }
}
