%a {
  text-decoration: none;
  color: inherit;
}

.header {
  background: linear-gradient(rgb(21, 94, 117, 0.3), rgb(22, 78, 99, 0.2)),
    no-repeat center / cover url("../imgs/endless-constellation.webp") fixed;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.header__links {
  display: flex;
  justify-content: space-between;
  padding: 4rem;

  .nav__links {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    gap: 4rem;
  }

  .logo__link {
    @extend %a;
    &:link,
    &:visited {
      color: $primary-color;
      font-family: "Tangerine", sans-serif;
      font-weight: 500;
      text-transform: capitalize;
      font-size: 4rem;
      letter-spacing: 0.3rem;
    }
  }
}

.link__item {
  @extend %a;
  &:link,
  &:visited {
    padding: 0.6rem 0;
  }
  &:hover,
  &:active {
    color: $primary-color;
  }
}

.link__item--contact {
  border: 0.1rem solid $primary-color;
  &:link,
  &:active {
    border-radius: 0.2rem;
    padding: 1rem 1.8rem;
    transition: all 0.3s;
  }
  &:hover {
    color: #3f3f46;
    background: $primary-color;
  }
}

.img-me {
  width: 41%;
  height: auto;
  position: absolute;
  top: -8rem;
  right: 7rem;
  z-index: -1;
  filter: brightness(40%);
  opacity: 0.5;
}

.header__presentation {
  font-size: 3rem;
  padding: 10rem 10rem 0 0;
  letter-spacing: 0.2rem;

  .presentation__hello {
    display: block;
    color: $primary-color;
    margin-bottom: 2rem;
    font-family: "Tangerine", sans-serif;
  }

  .presentation__name,
  .presentation__lastname {
    display: block;
    font-size: 8rem;
    letter-spacing: 0.3rem;
    font-family: "Playfair Display", sans-serif;
  }

  .presentation__lastname {
    margin-bottom: 9rem;
  }

  .presentation__job {
    display: block;
    font-size: 4rem;
    letter-spacing: 0.3rem;
    font-weight: 300;
  }
}
