@media only screen and (max-width: 121.6rem) {
  html {
    font-size: 55%;
  }
  .img-me {
    width: 39.7%;
  }
}

@media only screen and (max-width: 44.1rem) {
  html {
    font-size: 40%;
  }
  .header__presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .img-me {
    display: none;
  }
}
