.section--about {
  background: $background-color;
  padding: 3rem 0;
  margin-bottom: 17rem;
}

.about__body {
  display: flex;
  gap: 5rem;
  transition: all .5s;
}

.about__me {
  font-size: 2rem;
  line-height: 3.2rem;
}

.about__img {
  height: 100%;
  border-radius: .4rem;
  border: solid .1rem $green-secondary;
  transition: all .5s;
  .img__me {
    width: 25rem;
    background: $background-color--light;
    border-radius: .4rem;
  }
  &:hover{
    border: solid .1rem $green-primary;
  }

}

.tools__list {
  margin-top: 4rem;
  display: flex;
  gap: 3rem;
  ul {
    list-style: none;
    color: $secondary-color;
  }
}
