$primary-color: #ffffff99;
$secondary-color: #fafaff;
$background-color: #041120;
$background-color--light: #020c1b;
$green-primary: #64ffda;
$green-tertiary: #66ffdb1a;
$green-secondary: #66ffdb33;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-size: 1.8rem;
  font-weight: 400;
  background: $background-color--light;
  color: $primary-color;
  overflow-x: hidden;
}

.container {
  max-width: 130rem;
  padding: 0 5rem;
  margin: 0 auto;
}

.sub-container {
  max-width: 70rem;
  margin: 0;
}

.section--hidden {
  opacity: 0;
  transform: translateY(10rem);
}

