$primary-color: rgb(255, 255, 255, 0.6);
$secondary-color: #fafaff;
$background-color: #0b0d1a;
$text-color-primary: #64ffda;
$text-color-secondary: rgb(100, 255, 218, 0.3);

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  font-weight: 400;
  background: $background-color;
  color: $primary-color;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.sub-container {
  max-width: 50rem;
}

.section {
  height: 100vh;
}
