$primary-color: #ffffff99;
$secondary-color: #fafaff;
$background-color: #111b31;
$green-primary: #64ffda;
$green-tertiary: #66ffdb1a;
$green-secondary: #66ffdb33;
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  font-weight: 400;
  background: $background-color;
  color: $primary-color;
}

.container {
  max-width: 110rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.sub-container {
  max-width: 55rem;
}
