.heading__primary {
  font-size: 3rem;
  margin-bottom: 4rem;
  color: $secondary-color;

}

.link {
  &:link,
  &:visited {
    @extend %a;
    position: relative;
    display: inline-block;
    transition: all 0.5s;
    color: $green-primary;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom:solid .1rem $green-primary;
    transform: scaleX(0);
    opacity: 0;
    transition: all 0.3s;
  }
  &:hover::before {
    opacity: 1;
    width: 100%;
    transform: scale(1);
  }
}

.heading__tertiary{
  color: $secondary-color;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.blur{
  filter: blur(.5rem);
}