.section--contact{
  margin-bottom: 12.8rem;
}
.contact__link{
  &:link, &:visited{
    @extend %a;
    display: flex;
    gap: 3rem;
    align-items: center;
  }
}

.contact__body {
  display: flex;
  gap: 2rem;
}



.contact__card{
  border-radius: .5rem;
  border: solid .1rem $green-secondary;
  padding: 3rem;
}

.contact__icon{
  font-size: 3rem;
}

.contact__text{
  color: $green-primary;
  font-size: 1.3rem;
}