.section--contact {
  margin-bottom: 12.8rem;
}

.contact__link {
  &:link, &:visited {
    @extend %a;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}



.contact__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;

}

.contact__card {
  border-radius: .5rem;
  border: solid .1rem $green-secondary;
  padding: 3rem;
  transition: all .3s;
  &:hover,
  &:active {
    background: $green-tertiary;
  }
}

.contact__icon {
  font-size: 3rem;
}

.contact__text {
  color: $green-primary;
  font-size: 1.3rem;
}