%a {
  text-decoration: none;
  color: inherit;
}

.header {
  padding: 5rem;
  position: relative;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__header {
  display: flex;
  align-items: center;
  gap: 2rem;
  .nav__item {
    list-style: none;
  }
}

.nav__logo {
  &:link,
  &:visited {
    @extend %a;
    display: inline-block;
    border-radius: 50%;
    padding: 1.5rem 1rem;
    font-weight: 600;
    border: solid 0.1rem $text-color-primary;
    color: $text-color-primary;
    transition: all 0.4s;
  }

  &:hover,
  &:active {
    border: solid 0.1rem $text-color-secondary;
  }
}

.nav__link {
  &:link,
  &:visited {
    @extend %a;
    padding: 1.5rem 0;
    position: relative;
    display: inline-block;
    color: $text-color;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all 0.5s;
    letter-spacing: 0.2rem;
  }

  &:hover,
  &:active {
    color: $text-color-primary;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: 0.2rem solid $text-color-primary;
    transform: scaleX(0);
    opacity: 0;
    transition: all 0.3s;
  }

  &:hover::before {
    opacity: 1;
    bottom: 0;
    width: 100%;
    transform: scale(1);
  }
}

.nav__link--contact {
  &:link,
  &:visited {
    padding: 1.5rem 3rem;
    border: solid 0.1rem $text-color-primary;
    border-radius: 0.3rem;
    transition: all 0.4s;
    animation: animateContactLink infinite ease-in 2s backwards;
  }

  &:hover,
  &:active {
    background: $text-color-primary;
    color: #001d3d;
  }

  &::before {
    display: none;
  }
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.bg-blur {
  background: rgb(109, 104, 117, 0.5);
}
.header__img {
  width: 50%;
  align-self: flex-end;
  .img__me {
    align-self: flex-end;
    display: block;
    width: 100%;
    opacity: 0.8;
    animation: fadeIn 0.3s ease-in;
  }
}

.header__presentation {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  padding-top: 12rem;
  .presentaion__hello {
    font-size: 4rem;
    margin-bottom: 3rem;
    animation: fadeIn 0.3s ease-in 0.6s backwards;
  }

  .presentaion__name {
    font-size: 10rem;
    margin-bottom: 4rem;
    animation: fadeIn 0.3s ease-in;
  }

  .presentaion__job {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    letter-spacing: 0.3rem;
    font-size: 3rem;
    color: $text-color-primary;
    animation: fadeIn 0.3s ease-in 0.6s backwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animateContactLink {
  50% {
    border: solid 0.1rem $text-color-secondary;
  }
}
