%a {
  text-decoration: none;
  color: inherit;
}

.hero {
  padding: 5rem;
}
.hero__navigation {
  display: flex;
  justify-content: flex-end;
  padding: 5rem;
}

.link {
  @extend %a;
  color: $text-color-primary;
}

.nav__list {
  display: flex;
  gap: 2rem;

  .nav__item {
    list-style: none;
  }
}

.nav__link {
  &:link,
  &:visited {
    @extend %a;
    padding: 1.5rem 0;
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-family: "Fira Mono", sans-serif;
    text-transform: capitalize;
    transition: all 0.5s;
    letter-spacing: 0.2rem;
    color: $secondary-color;
  }

  &:hover,
  &:active {
    color: $text-color-primary;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: 0.2rem solid $text-color-primary;
    transform: scaleX(0);
    opacity: 0;
    transition: all 0.3s;
  }

  &:hover::before {
    opacity: 1;
    bottom: 0;
    width: 100%;
    transform: scale(1);
  }
}

.nav__link--contact {
  &:link,
  &:visited {
    border: solid 0.1rem #64ffda;
    border-radius: 0.4rem;
    display: inline-block;
    border-radius: 0.4rem;
    padding: 1.5rem 3rem;
    transition: all 0.3s;
    color: $text-color-primary;
  }

  &::before {
    display: none;
  }
  &:hover,
  &:active {
    background-color: $text-color-secondary;
  }
}

.hero__hello {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Fira Mono", sans-serif;
  color: $text-color-primary;
}

.hero__description {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.hero__job {
  font-size: 2rem;
  line-height: 3rem;
}

.hero__name {
  font-size: 4rem;
  color: $secondary-color;
  margin-bottom: 5rem;
}

@keyframes fadeIn {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
