%a {
  text-decoration: none;
  color: inherit;
}

.hero__navigation {
  display: flex;
  justify-content: flex-end;
  padding: 5rem;
}

.nav__item {
  list-style: none;
}
.nav__list {
  display: flex;
  gap: 2rem;
}

.nav__link {
  &:link,
  &:visited {
    @extend %a;
    padding: 1.5rem 0;
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all 0.5s;
    letter-spacing: 0.2rem;
  }

  &:hover,
  &:active {
    color: rgb(255, 0, 115);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: 0.2rem solid rgb(255, 0, 115);
    transform: scaleX(0);
    opacity: 0;
    transition: all 0.3s;
  }

  &:hover::before {
    opacity: 1;
    bottom: 0;
    width: 100%;
    transform: scale(1);
  }
}

.nav__link--contact {
  &:link,
  &:visited {
    border: solid 0.1rem rgb(255, 0, 115);
    border-radius: 0.4rem;
    display: inline-block;
    border-radius: 0.4rem;
    padding: 1.5rem 3rem;
    transition: all 0.3s;
  }

  &::before {
    display: none;
  }

  &:hover,
  &:active {
    color: $text-color;
    background-color: rgb(255, 0, 115);
  }
}

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__presentation {
  margin-top: -20rem;
  text-align: center;
  font-size: 6rem;
  margin-bottom: 4rem;
  animation: fadeIn 0.3s ease-in backwards;
}

.hero__job {
  font-size: 2rem;
  line-height: 3rem;
  animation: fadeIn 0.3s ease-in 0.4s backwards;
}

.hero__name {
  font-size: 5rem;
  animation: fadeIn 0.3s ease-in 0.3s backwards;
}

@keyframes fadeIn {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
