%a {
  text-decoration: none;
  color: inherit;
}

.section--hero {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}

.hero__body {
  width: 50%;
  margin-top: 10rem;
  align-self: center;
}

.hero__img {
  width: 50%;
  align-self: flex-end;
  text-align: center;

  .img-me {
    max-width: 100%;
    height: auto;
    display: block;
    filter: brightness(0.7);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  transition: all .3s;
  height: 10vh;
  padding-top: 5rem;
}

.number {
  display: inline-block;
  color: $green-primary;
}

.header__logo {
  &:link, &:visited {
    @extend %a;
    color: $green-primary;
    font-size: 1rem;
    border-radius: 50%;
    padding: 2rem;
    border: solid .1rem $green-secondary;
    transition: all .3s;
  }

  &:hover, &:active {
    background: $green-secondary;
  }
}


.nav__list {
  display: flex;
  gap: 3rem;
  .nav__item {
    list-style: none;
  }
}

.nav__link {
  &:link,
  &:visited {
    @extend %a;
    padding: 1rem 0;
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-family: "Fira Mono", sans-serif;
    text-transform: capitalize;
    transition: all 0.5s;
    letter-spacing: 0.2rem;
    color: $secondary-color;
  }

  &:hover,
  &:active {
    color: $green-primary;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: 0.1rem solid $green-primary;
    transform: scaleX(0);
    opacity: 0;
    transition: all 0.3s;
  }

  &:hover::before {
    opacity: 1;
    bottom: 0;
    width: 100%;
    transform: scale(1);
  }
}

.nav__link--contact {
  &:link,
  &:visited {
    border: solid 0.1rem $green-primary;
    border-radius: 0.4rem;
    display: inline-block;
    padding: 1rem 2rem;
    transition: all 0.3s;
    color: $green-primary;
  }

  &::before {
    display: none;
  }

  &:hover,
  &:active {
    background-color: $green-secondary;
  }
}

.hero__hello {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: "Fira Mono", sans-serif;
  color: $green-primary;
  letter-spacing: 0.1rem;
}

.hero__about {
  font-size: 4rem;
  margin-bottom: 3rem;
  color: $green-primary;
  font-weight: 300;
}

.hero__job {
  font-size: 2rem;
  line-height: 3rem;
}

.hero__name {
  font-size: 10rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: .1rem;
  margin-bottom: 5rem;
  color: $secondary-color;
}


.btn {
  cursor: pointer;
  display: none;
  border: solid .1rem $green-secondary;
  padding: 1.5rem;
  font-size: 2rem;
  border-radius: 50%;
  color: $green-primary;
}

.header__navigation{
  overflow-x: hidden;
}
