%a {
  text-decoration: none;
  color: inherit;
}

%before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: 0.1rem solid $green-primary;
  transform: scaleX(0);
  opacity: 0;
  transition: all 0.3s;
}

.section--hero {
  overflow: hidden;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10rem;
}


.header {
  display: flex;
  justify-content: flex-end;
  overflow-x: hidden;
  padding-top: 5rem;
  margin-bottom: 4rem;
}


.number {
  display: inline-block;
  color: $green-primary;
  font-family: "Fira Mono", sans-serif;
  font-size: 1.5rem;
}


.nav__list {
  display: flex;
  gap: 3rem;

  .nav__item {
    list-style: none;
  }
}

.header__logo {
  &:link,
  &:visited {
    @extend %a;
    color: $green-primary;
    font-family: "Tangerine", sans-serif;
    font-size: 3rem;
  }

  &:hover,
  &:active {
    color: $green-primary;
  }
}

.nav__link {
  &:link,
  &:visited {
    @extend %a;
    padding: 1rem 0;
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-family: "Fira Mono", sans-serif;
    text-transform: capitalize;
    transition: all 0.5s;
    letter-spacing: 0.2rem;
    color: $secondary-color;
  }

  &:hover,
  &:active {
    color: $green-primary;
  }

  &::before {
    @extend %before;
  }

  &:hover::before {
    opacity: 1;
    bottom: 0;
    width: 100%;
    transform: scale(1);
  }
}

.nav__link--contact {
  &:link,
  &:visited {
    border: solid 0.1rem $green-primary;
    border-radius: 0.4rem;
    display: inline-block;
    padding: 1rem 1.5rem;
    transition: all 0.3s;
    color: $green-primary;
  }

  &::before {
    display: none;
  }

  &:hover,
  &:active {
    background-color: $green-secondary;
  }
}


.nav__link--info {
  &:link,
  &:visited {
    border: solid 0.1rem $green-primary;
    border-radius: 0.4rem;
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    transition: all 0.3s;
    color: $green-primary;
  }

  &::before {
    display: none;
  }

  &:hover,
  &:active {
    background-color: $green-secondary;
  }
}

.hero__hello {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-family: "Fira Mono", sans-serif;
  color: $green-primary;
}

.hero__about {
  font-size: 5rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.hero__job {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 3rem;
}

.hero__name {
  font-size: 5rem;
  margin-bottom: 3rem;
  color: $secondary-color;
}

.btn {
  cursor: pointer;
  display: none;
  font-size: 2.5rem;
  color: $green-primary;
  padding: 1rem;
  border: solid .1rem $green-secondary;
}


