@media screen and (max-width: 84em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.5%;
  }
  .hero__about {
    font-size: 4rem;
  }
  .hero__name {
    font-size: 4rem;
  }
  .hero__hello {
    font-size: 2rem;
  }
}

@media screen and (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .about__body {
    flex-direction: column;
    align-items: center;
  }

  .services__body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects__body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .header__navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    position: absolute;
    top: 0;
    bottom: 10rem;
    right: 0;
    width: 65%;
    height: 100vh;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in;
  }

  .nav__list {
    flex-direction: column;
    justify-content: center;
  }

  .nav__link {
    font-size: 2rem;
  }
  .nav__open {
    .btn-open {
      display: none;
    }

    .btn-close {
      display: block;
      z-index: 5;
    }

    .header__navigation {
      transform: translateX(0);
      background: $background-color--light;
      pointer-events: auto;
      visibility: visible;
      z-index: 2;
      opacity: 1;
    }
  }
  .btn-open {
    display: block;
  }
}

@media screen and (max-width: 44em) {
  html {
    font-size: 45%;
  }
  .contact__body {
    flex-direction: column;
    align-items: center;
  }
  .contact__icon{
    width: 6rem;
    align-self: end;
  }
  .hero__about {
    font-size: 2.5rem;
  }
  .hero__name {
    font-size: 3rem;
  }
}

@media screen and (max-width: 16em) {

  .hero__about {
    font-size: 2.2rem;
  }

  .hero__name {
    font-size: 3rem;
  }
}

