@media only screen and(max-width: 71rem ) {
  html {
    font-size: 60%;
  }

  .header__body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__body {
    position: static;
    height: 100%;
    align-items: center;
    .header__img {
      display: none;
    }
  }

  .header__presentation {
    .presentaion__hello {
      font-size: 4rem;
    }
    .presentaion__name {
      font-size: 5rem;
    }
    .presentaion__job {
      font-size: 2rem;
    }

    .presentaion__name,
    .presentaion__hello,
    .presentaion__job {
      text-align: center;
    }
  }
}

@media only screen and(max-width: 29rem ) {
  html {
    font-size: 50%;
  }

  .header__nav {
    justify-content: flex-end;
    font-size: 3rem;
  }
  .nav__logo {
    &:link,
    &:visited {
      display: none;
    }

    &:hover,
    &:active {
      display: none;
    }
  }
}
