.section--projects {
  margin-bottom: 12.8rem;
}

.projects__body {
  display: flex;
  gap: 3rem;
}

.card__projects {
  border: solid .1rem $green-secondary;
  padding: 3rem;
  border-radius: .4rem;
  transition: all .3s;
  &:hover{
    border: solid .1rem $green-primary;
    .project__heading{
      color: $green-primary;
    }
  }
}

.projects__icons--code {
  font-size: 2.5rem;
}

.projects__link {
  &:link, &:visited {
    @extend %a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    color: $green-primary;
  }
}

.card__body--text {
  font-size: 1.8rem;
  line-height: 3rem;
}

.project__heading {
  color: $secondary-color;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}