.section--services {
  padding: 5rem 0;
  background: $background-color;
  margin-bottom: 12.8rem;
}

.card {
  padding: 4rem;
  background: $background-color--light;
  font-size: 1.8rem;
  line-height: 3rem;
  border-radius: .4rem;
  transition: all .3s;
  &:hover{
    transform: translateY(-1rem);
  }
}

.card__heading {
  color: $secondary-color;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.services__body {
  display: flex;
  gap: 3rem;
  transition: all .5s;
}